@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');

html {
    position: relative;
    min-height: 100%;
    font-family: 'IBM Plex Serif', sans-serif;
}

body {
    margin: 0;
    background-color: antiquewhite;
}

#title-bar {
    height: 130px;
    background-color: #795548;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

#bottom-bar {
    height: 50px;
    background-color: #795548;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    overflow:hidden;
}

#title-text {
    font-family: 'IBM Plex Serif', sans-serif;
    margin-left: 150px;
    color: whitesmoke;
    font-size: 35px;
}

#copyright {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

#copyright a {
    text-decoration: none;
    margin-left: 5px;
    color: gold;
}

.navigation {
    display: flex;
    justify-content: center;
}

.content {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 160px;
}

#contact-form {
    max-width: 500px;
}

.input-field {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.form-label {
    font-weight: bold;
}

textarea {
    resize: none;
    height: 200px;
}

#contact-field-set {
    padding: 15px 20px 15px 15px;
}

.navigation a {
    margin-right: 15px;
    font-size: x-large;
    color: white;
    text-decoration: none;
    font-family: 'Playfair Display SC', sans-serif;
}